@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="range" i] {
  appearance: auto;
  cursor: default;
  color: light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
}

.search-label {
  width: 40px;
  height: 40px;
  background-image: url('/search.svg');
}

.back_noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  background-image: url(/noise.png);
  background-size: 100px;
}

.shape {
  mix-blend-mode: lighten;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  filter: blur(250px);
  position: absolute;
  border-radius: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.shape-1 {
    bottom: 0;
    left: 0;
    width: 700px;
    height: 700px;
    background: #8e7bff;
    mix-blend-mode: lighten;
    -webkit-transform: translate(-30%, 40%);
    transform: translate(-30%, 40%);
    -webkit-animation-name: gradientShapeAnimation1;
    animation-name: gradientShapeAnimation1;
}

.shape-2 {
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  background: #44f2eb;
  -webkit-transform: translate(20%, -40%);
  transform: translate(20%, -40%);
  -webkit-animation-name: gradientShapeAnimation2;
  animation-name: gradientShapeAnimation2;
}

@-webkit-keyframes gradientShapeAnimation1 {
  0% {
      -webkit-transform: translate(-30%, 40%) rotate(-20deg);
      transform: translate(-30%, 40%) rotate(-20deg)
  }

  25% {
      -webkit-transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg);
      transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg)
  }

  50% {
      -webkit-transform: translate(30%, -10%) rotate(180deg);
      transform: translate(30%, -10%) rotate(180deg)
  }

  75% {
      -webkit-transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg);
      transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg)
  }

  100% {
      -webkit-transform: translate(-30%, 40%) rotate(-20deg);
      transform: translate(-30%, 40%) rotate(-20deg)
  }
}

@keyframes gradientShapeAnimation1 {
  0% {
      -webkit-transform: translate(-30%, 40%) rotate(-20deg);
      transform: translate(-30%, 40%) rotate(-20deg)
  }

  25% {
      -webkit-transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg);
      transform: translate(0%, 20%) skew(-15deg, -15deg) rotate(80deg)
  }

  50% {
      -webkit-transform: translate(30%, -10%) rotate(180deg);
      transform: translate(30%, -10%) rotate(180deg)
  }

  75% {
      -webkit-transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg);
      transform: translate(-30%, 40%) skew(15deg, 15deg) rotate(240deg)
  }

  100% {
      -webkit-transform: translate(-30%, 40%) rotate(-20deg);
      transform: translate(-30%, 40%) rotate(-20deg)
  }
}

@-webkit-keyframes gradientShapeAnimation2 {
  0% {
      -webkit-transform: translate(20%, -40%) rotate(-20deg);
      transform: translate(20%, -40%) rotate(-20deg)
  }

  20% {
      -webkit-transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg);
      transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg)
  }

  40% {
      -webkit-transform: translate(-40%, 50%) rotate(180deg);
      transform: translate(-40%, 50%) rotate(180deg)
  }

  60% {
      -webkit-transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg);
      transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg)
  }

  80% {
      -webkit-transform: translate(10%, -30%) rotate(180deg);
      transform: translate(10%, -30%) rotate(180deg)
  }

  100% {
      -webkit-transform: translate(20%, -40%) rotate(340deg);
      transform: translate(20%, -40%) rotate(340deg)
  }
}

@keyframes gradientShapeAnimation2 {
  0% {
      -webkit-transform: translate(20%, -40%) rotate(-20deg);
      transform: translate(20%, -40%) rotate(-20deg)
  }

  20% {
      -webkit-transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg);
      transform: translate(0%, 0%) skew(-15deg, -15deg) rotate(80deg)
  }

  40% {
      -webkit-transform: translate(-40%, 50%) rotate(180deg);
      transform: translate(-40%, 50%) rotate(180deg)
  }

  60% {
      -webkit-transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg);
      transform: translate(-20%, -20%) skew(15deg, 15deg) rotate(80deg)
  }

  80% {
      -webkit-transform: translate(10%, -30%) rotate(180deg);
      transform: translate(10%, -30%) rotate(180deg)
  }

  100% {
      -webkit-transform: translate(20%, -40%) rotate(340deg);
      transform: translate(20%, -40%) rotate(340deg)
  }
}